* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: #fff;
}

.logo {
    font-size: 48px;
}

.header-right {
    display: flex;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    padding: 18px;
    color: #fff;
}

.action {
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-btn .btn {
    border: 1px solid #fff;
    padding: 6px 20px;
    border-radius: 5px;
    margin-left: 10px;
}

.header-btn .signUp {
    background-color: #fff;
    color:rgb(34, 34, 34);
}

.header-btn .login {
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.header-btn .signUp:hover {
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.header-btn .login:hover {
    background-color: #fff;
    color:rgb(34, 34, 34);
}