* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: #fff;
}

.logo {
    font-size: 48px;
}

.header-right {
    display: flex;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    padding: 18px;
    color: #fff;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 24px 0px 24px;
}

.buttons a {
    text-decoration: none;

}

div .button {
    margin: 0px 6px 0px 24px;
    border: none;
    border-radius: 4px;
    min-width: 70px;
    min-height: 24px;
}

.sign-up {
    background-color: #fff;
    color: rgb(34, 34, 34);
}

.login {
    background-color: rgb(34, 34, 34);
    color: #fff;
}

.sign-up :hover {
    background-color: #fff;
    color: rgb(34, 34, 34);
}
